
#title {
text-align: center;
margin-bottom: 10px;
}

#description {
text-align: center;
margin-bottom: 30px;
font-style: italic;
}

#survey-form {
display: flex;
flex-direction: column;
gap: 15px;
}

#survey-form input,
#survey-form select,
#survey-form textarea {
padding: 8px;
border: 1px solid #04080f;
background-color: #ffffff;
font-size: 1rem;
}

#survey-form textarea {
min-height: 120px;
}

#email {
width: 100%;
}


#submit {
padding: 12px;
background-color: #006b63;
color: white;
border: none;
cursor: pointer;
font-weight: bold;
}

#submit:hover {
background-color: #00423d;
}
